/* Webservers
 */
div.webserver div.panel-heading {
	cursor:pointer;
}

div.webserver table {
	width:100%;
}

div.webserver table td:first-child {
	width:120px;
	vertical-align:top;
}

div.webserver div.online {
	background-color:#e8ffe8;
	background-image:none;
}

div.webserver div.offline {
	background-color:#ffe8e8;
	background-image:none;
}

div.webserver span.dropdown {
	float:right;
}

div.webserver button.modules {
	padding:0px 6px;
}

div.webserver ul.dropdown-menu {
	padding:2px 8px;
	margin-left:10px;
	left:-98px;
}

@media (max-width:767px) {
	div.webserver {
		margin-bottom:10px;
	}
	div.webserver div.panel-body {
		display:none;
	}
}

/* Alerts
 */
h2 span {
	font-size:12px;
	position:relative;
	top:-7px;
}

div.ui-dialog div.ui-dialog-titlebar {
	color:#000000;
	background-color:#ff8020;
	background-image:none;
}

div.ui-dialog div.ui-dialog-titlebar span {
	font-weight:normal;
}

div.ui-dialog div.ui-dialog-content {
	font-size:14px;
}

div.top-alert table {
	width:100%;
	margin-bottom:0;
}

img.loading {
	display:block;
	margin:0 auto;
}

@media (min-width:768px) {
	div.top-alert table th:nth-child(n+2),
	div.top-alert table td:nth-child(n+2) {
		width:70px;
		text-align:right;
	}
}

/* Weblogs
 */
div.weblog div.panel-heading {
	cursor:pointer;
}

div.weblog div.panel-heading span.timestamp {
	font-weight:normal;
	font-size:12px;
}

@media (min-width:768px ) {
	div.weblog div.panel-heading span.timestamp {
		float:right;
	}
}

@media (max-width:767px ) {
	div.weblog div.panel-heading span.timestamp:before {
		content:", ";
	}
}

div.weblog div.panel-body {
	display:none;
}

div.weblog div.panel-body div.readmore {
	text-align:right;
}
