table.table th.timestamp {
	width:200px;
}

@media (min-width:768px) {
	div.content div.hidess {
		position:absolute;
		margin-top:-29px;
		right:300px;
	}
}

@media (max-width:767px) {
    div.content div.hidess {
		float:right;
	}
}
